.andes {
    font-family: var(--fleur);
    color: var(--white);
    box-sizing: border-box;
}

.andes__mano {
    background-image: url('https://solalpaca.pe/wp-content/uploads/2022/06/herencia-textil.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 1500;
    font-size: 30px;
}

.andes__calidad {
    background-image: url('https://solalpaca.pe/wp-content/uploads/2022/06/museo-amano.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}

@media (min-width: 640px) {
    .andes {
        display: flex;
        justify-content: center;
    }
    .andes__calidad, .andes__mano{
        height: 15rem;
    }
    .eje{
        display: grid;
        grid-template: 
        repeat(1, 1fr) /repeat(2,1fr);
        gap: var(--sm);
    }
}

@media (min-width: 900px) {
    .andes__calidad, .andes__mano{
        height: 18rem;
    }
}

@media (min-width: 1200px) {
    .andes__calidad, .andes__mano{
        height: 21rem;
    }
}

@media (min-width: 1500px) {
    .andes__calidad, .andes__mano{
        height: 25rem;
    }
}