:root {
    --marron: #201712;
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #B48D49;
    --gris: #f6ebda;
    --boton: #eeddd2;
    --marron-bajo: #c69b7c;
    --card: rgb(246, 238, 220);
    --border-boton: #7F7F7F;
    --plomo: #F5F5F5;
    --plomo-bajo: rgb(248, 248, 248);
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --margin-bottom: 20px;
    --padding-sm: .8rem 1rem;
    --padding-md: 1.8rem 2rem;
    --padding-lg: 2.5rem 3rem;
    --padding-xs: 3.5rem 8rem;
    --padding-ut: 5rem 12rem;
    --fleur: "Raleway", sans-serif;
    --new: "Lato", sans-serif;
}
.cards {
    padding: .8rem 1rem;
}

.cards .principal {
    background-color: rgb(246, 238, 220);
    border-radius: 8px;
}

.cards .principal .title {
    display: flex;
    gap: 10px;
    padding: 8px;
    align-items: center;
}

.cards .principal .title .title-principal {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.02em;
    margin: 0;
    padding: 0;
}

.cards .principal {
    padding: 8px;
    text-align: justify;
}

.cards .principal .desc {
    margin-top: 0;
    color: #777;
}

@media (min-width: 640px){
    .CardContainer{
        padding: var(--padding-md);
        display: grid;
        grid-template: 
        repeat(1, 1fr) /repeat(2,1fr);
        gap: var(--sm);
    }
}


@media (min-width: 900px){
    .cardContainer{
        padding: var(--padding-lg);
        grid-template: 
        repeat(1, 1fr) /repeat(3,1fr);
        gap: var(--md);
    }
}
@media (min-width: 1200px){
    .CardContainer{
        padding: var(--padding-xs);
        gap: 50px;
    }
}
@media (min-width: 1800px){
    .CardContainer{
        padding: var(--padding-ut);
        gap: 100px;
    }
}